@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e0e0; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #459E97; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #e0e0e0; /* Optional border for better contrast */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #459E97 #e0e0e0;
}

.menu-bar {
    transition: 0.6s;
}
.show {
  transition: 600ms;
}
.change-div::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 20%;
  height: 8px;
  background-color: #459E97; /* The second color */
  border-top-left-radius: 10px;
  /* border-top-right-radius: 10px; */
  z-index: 1;
}